h1 {
    font-family: 'Tahoma';
    background: linear-gradient(#c300ff, rgb(0, 0, 255));
    text-align: center;
    color: #a3ddff;
    padding: 0 0 0 0;
}

p {
    color: white;
    text-align: center;
}

body {
    background-color: #040450;
}

label {
    color: white;
    display: block;
    padding: 0.5em 0.2em;
    margin: auto;
}

select {
    align-items: center;
}